.conf-logo {
  display: flex;
  align-items: center;
  color: inherit;
}

.conf-logo:hover {
  color: inherit;
}

.text-and-icons {
  margin-right: 17px;
}

.next-logo :global(svg) {
  transform: translateY(4px) !important;
  margin-right: 25px;
  height: 112.33px;
}

.text-conf {
  font-weight: bold;
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.header-icons {
  display: flex;
  justify-content: space-between;
}

.icon-background {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.icon-globe {
  background: linear-gradient(90deg, #ec6193 0%, #ec4b31 100%);
}

.icon-image {
  background: linear-gradient(90deg, #ffbc29 0%, #eadf58 100%);
}

.icon-activity {
  background: linear-gradient(90deg, #57c84f 0%, #53a0ec 100%);
}
